<h1>Listing Totem Locations trace</h1>

<table>
  <thead>
    <tr>
	  <th>Created on</th>	
      <th>Code</th>
      <th>Name</th>
	  <th>Email</th>
      <th>Location</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @totem_locations.each do |totem_location| %>
      <tr>
	  <td><%= totem_location.created_at %></td>
        <td><%= totem_location.code %></td>
        <td><%= totem_location.name %></td>
		<td><%= totem_location.email %></td>
        <td><%= totem_location.location %></td>
        <td><%= totem_location.description %></td>
        <td><%= link_to 'Show', totem_location %></td>
        <td><%= link_to 'Edit', edit_totem_location_path(totem_location) %></td>
        <td><%= link_to 'Destroy', totem_location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

 
<br>

<%= link_to 'New Totem location', new_totem_location_path %>


<!-- Google Maps Stuff -->

<style>
      html, body, #map-canvas {
        height: 700px;
		width: 100%;
        margin: 0px;
        padding: 0px
      }
</style>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script>
// This example creates a 2-pixel-wide red polyline showing
// the path of William Kingsford Smith's first trans-Pacific flight between
// Oakland, CA, and Brisbane, Australia.

function initialize() {
  var mapOptions = {
    zoom: 3,
    center: new google.maps.LatLng(0, -180),
    mapTypeId: google.maps.MapTypeId.TERRAIN
  };

  var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

 
  var flightPlanCoordinates = [
  
  <% @totem_locations.each do |totem_location| %>
	new google.maps.LatLng<%=totem_location.location %>,
  <% end %>
  ];
  
  var flightPath = new google.maps.Polyline({
    path: flightPlanCoordinates,
    geodesic: true,
    strokeColor: '#FF0000',
    strokeOpacity: 1.0,
    strokeWeight: 2
  });

  flightPath.setMap(map);

}

google.maps.event.addDomListener(window, 'load', initialize);
</script>

<div id="map-canvas"></div>

